.publication .section-1 .custom-publication-date {
    font-family: 'Ubuntu Mono', serif;
    font-size: 0.95rem;
}

.publication .section-1 .custom-publication-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.publication .section-1 .custom-publication-subtitle {
    font-size: 0.95rem;
    font-style: italic;
    font-family: 'Ubuntu Mono', serif;
}