{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" | default "" -}}
{{- $width := .Get "width" | default "100%" -}}
{{- $align := .Get "align" | default "left" -}}

<img
  src="{{ $src }}"
  alt="{{ $alt }}"
  style="
    width: {{ $width }};
    {{- if eq $align "left" }} display: block; margin-left: 0; margin-right: auto; {{ end -}}
    {{- if eq $align "center" }} display: block; margin-left: auto; margin-right: auto; {{ end -}}
    {{- if eq $align "right" }} display: block; margin-left: auto; margin-right: 0; {{ end -}}
  "
/>
